BodyEnergy/Service References/Gym.Service/SoapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51379/SoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data.DTO" />
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pContrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q1:SeguridadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsistenciasBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSocio" type="xs:int" />
        <xs:element minOccurs="0" name="pFechaI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pHoy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsistenciasBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsistenciasBusquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarAsistencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodAsistencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarAsistenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="asistDto" nillable="true" type="q2:AsistenciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactoEmpresasBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreCompleto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCodEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactoEmpresasBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerContactoEmpresasBusquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerTodosEmpresaResult" nillable="true" type="q3:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEmpresasBusquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerContactoResult" nillable="true" type="q4:ContactoEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="cxeDto" nillable="true" type="q5:ContactoEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEnterprise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="empDto" nillable="true" type="q6:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEnterpriseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerEmpresaResult" nillable="true" type="q7:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodTipoSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerTipoSocioResult" nillable="true" type="q8:TipoSocioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosTipoSocio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosTipoSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerTodosTipoSocioResult" nillable="true" type="q9:ArrayOfTipoSocioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSociosBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreCompleto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCodTipoSocio" type="xs:int" />
        <xs:element minOccurs="0" name="pCodEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="pFecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSociosBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerSociosBusquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerSocioResult" nillable="true" type="q10:SocioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerFechaResult" nillable="true" type="q11:FechaVencimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFecVencimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSocio" type="xs:int" />
        <xs:element minOccurs="0" name="pCodCortesia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFecVencimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerFecVencimientoResult" nillable="true" type="q12:FechaVencimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpireDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="fecDto" nillable="true" type="q13:FechaVencimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpireDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="socDto" nillable="true" type="q14:SocioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSocioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionesBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSocio" type="xs:int" />
        <xs:element minOccurs="0" name="pCodTipoPago" type="xs:int" />
        <xs:element minOccurs="0" name="pFechaI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pHoy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionesBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTransaccionesBusquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodTransaccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTransaccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMontoSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMontoSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMontoSocioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodTransaccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerTransaccionResult" nillable="true" type="q15:TransaccionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="tranDto" nillable="true" type="q16:TransaccionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosTiposPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosTiposPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerTodosTiposPagoResult" nillable="true" type="q17:ArrayOfTipoPagoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodasCatPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodasCatPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Data.DTO" minOccurs="0" name="ObtenerTodasCatPagoResult" nillable="true" type="q18:ArrayOfCategoriaPagoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>