BodyEnergy/Service References/Gym.Service/SoapService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDTO">
    <xs:sequence>
      <xs:element name="_x003C_IsDirty_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Method_x003E_k__BackingField" type="tns:ObjectMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTO" nillable="true" type="tns:BaseDTO" />
  <xs:simpleType name="ObjectMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Modify" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ObjectMethod" nillable="true" type="tns:ObjectMethod" />
</xs:schema>